# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Environment
.env

# Uploads
uploads/
storage/
model-cache/
data/raw/
data/processed/
models/*.pt
models/*.pth
models/*.bin
models/*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db